body {
    margin: 0;
    padding-top: 10;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
h1 {
    position: absolute;
    font-size: 10em;
    white-space: nowrap;
    color: transparent;
    -webkit-text-stroke: 2px rgb(255, 255, 255); /* white glowing stroke */
    text-shadow:
        0 0 10px rgba(0, 255, 0, 0),
        /* Glowing effect */ 0 0 20px rgba(0, 255, 0, 0),
        0 0 30px rgba(0, 255, 0, 0),
        0 0 40px rgba(0, 255, 0, 0.8);
    line-height: 70vh;
    font-family: "orbitron", sans-serif;
    animation: anim 200s linear infinite;
    will-change: transform;
}
@keyframes anim {
    0% {
        transform: translate3D(0, 0, 0);
    }
    100% {
        transform: translate3D(-100%, 0, 0);
        /* even though text is only moving from left to right, turning this off will break it. */
    }
}

.left h1 {
    color: black;
    stroke: 2px;
    left: 100%;
}

.left {
    position: relative;
    width: 50%;
    height: 100vh;
    background-attachment: fixed;
    background: url(background.jpg);
}
.right {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: black;
    background-image: radial-gradient(rgba(3, 197, 3, 0.801), black 120%);
    animation: backgroundGlow 5s ease-in-out infinite;
    will-change: opacity;
}
/* Scan lines */


@keyframes backgroundGlow {
    0% {
        background-color: rgba(2, 56, 2, .0801);
    }
    50% {
        background-color: rgba(11, 163, 11, 0.842);
    }
    100% {
        background-color: rgba(8, 180, 8, 0.904);
    }
    50% {
            background-color: rgba(2, 56, 2, .0801);
        }
}


.scan-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Cover full height */
    background: repeating-linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.2) 0%,
        /* Bright thin lines */ rgba(0, 0, 0, 0.1) 5px,
        /* Space between lines */ rgba(0, 0, 0, 0.1) 4px /* End of spacing */
    );
}
