body {
    margin: 0;
    padding-top: 10;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.left {
    position: relative;
    width: 50%;
    height: 100vh;
    background-attachment: fixed;
    background: url(background.jpg);
}

.right {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: black;
    background-image: radial-gradient(rgba(3, 212, 3, 0.801), black 120%);
    animation: backgroundGlow 4s ease-in-out infinite;
}
.scan-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Cover full height */
    background: repeating-linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.2) 0%,
        /* Bright thin lines */ rgba(0, 0, 0, 0.1) 5px,
        /* Space between lines */ rgba(0, 0, 0, 0.1) 4px /* End of spacing */
    );
}

/* glowing background */
@keyframes backgroundGlow {
    0% {
        background-color: rgba(2, 252, 2, 0.801);
    }
    50% {
        background-color: rgba(242, 247, 171, 0.966);
    }
    100% {
        background-color: rgba(3, 253, 3, 0.801);
    }
}