/* styles.css */
.container body {
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center; /* centers vertically */
    height: 100vh; /* full viewport height */
    margin: 0;
  }
  .container {
    max-width: 960px;
  }
  
.tableauPlaceholder {
    position: relative;
}

.tableauViz {
    display: none;
}