/* styles.css */
body {
  display: flex;
  justify-content: center; /* horizontally centered */
  align-items: center;     /* vertically centered */
  height: 100vh;           /* this is the full height of the viewport */
  margin: 0;
}

.container {
  max-width: 960px;
  width: 100%;            /* container fills parent */
}

.tableauPlaceholder {
  position: relative;
}

.tableauViz {
  display: block; /* make it visible*/
}